<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="icon" href="static/img/ico_nav.png" type="image/png">

    <title>Portfólio - Daniel Silva</title>

</head>



<body>
    
    <i class="bi bi-list menu-mobile"></i>
    
    <aside id="header">

        <section class="profile">
            <img src="../static/img/foto_perfil.jpeg" alt="Foto de Perfil">
            <h1>Daniel Silva</h1>
            <div class="social-links mt-4 text-center">
                
                <a target="_blank" href="https://www.linkedin.com/in/daniel-silva-b73857214">
                    <i class="bi bi-linkedin"></i>
                </a>

                <a target="_blank" href="https://github.com/DevTheo25">
                    <i class="bi bi-github"></i>
                </a>

                <a target="_blank" href="https://www.kaggle.com/danielsilvafilho">
                    <i class="bi bi-database-fill"></i>
                </a>
                

            </div>

        </section>

        <nav id="navbar" class="nav-menu">

            <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link active" href="#inicio"><i class="bi bi-house"></i> Inicio</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#sobre"><i class="bi bi-person"></i> Sobre</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#habilidades"><i class="bi bi-list-check"></i> Habilidades</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#curriculo"><i class="bi bi-file-earmark"></i> Currículo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#portfolio"><i class="bi bi-collection"></i> Projetos</a>
                </li>
                <li class="nav-item">
                        <a class="nav-link" href="#contato"><i class="bi bi-envelope"></i> Contato</a>
                </li>

              </ul>

        </nav>

        


    </aside>
    

    <main id="main">
        
        <section id="inicio" class="row m-0 p-0">
            <div class="col-md3 d-flex justify-content-center align-items-start flex-column">
                <h2 class="text-white text-shadow">Daniel Silva</h2>
                <span id="subtitle" class="text-white text-shadow">Cientista de Dados | Desenvolvedor de Software</span>
            </div>
            
            <div class="col-md-7 d-flex justify-content-end align-items-end">
                <div id="arraste" class="d-flex align-items-center">
                    <i class="bi bi-arrow-down text-white pe-2 fs-2" aria-hidden="true"></i>
                    <a href="#sobre">Arraste para mais</a>
                </div>

            </div>
        


        </section>

        <section class="container mt-5" id="sobre">
            <div class="row w-100">
                <div class="col-md-12" data-anime="down">
                    <h2 class="pt-3">Sobre</h2>
                    <p>Sou um profissional com 2 anos de experiência em desenvolvimento de software e análise de dados. Durante esse período, acumulei diversas experiências em análise de dados de diferentes tipos, incluindo geoespacial, quantitativa e qualitativa, bem como uma sólida experiência em automações de processos.
                        Atualmente, estou cursando o segundo ano de Engenharia de Software, onde descobri minha paixão pela área de dados, o que me levou a uma decisão definitiva: concentrar minha carreira nessa área em expansão. Para fortalecer minha formação acadêmica e prática, busquei diversos certificados em ciência de dados, análise de dados e programação.
                        Além disso, estou empenhado em aprimorar minhas soft skills, reconhecendo a importância crucial da comunicação e oratória e buscando constantemente aprimorá-las. Estou continuamente buscando oportunidades para ampliar meu conhecimento, com foco atual em análise de dados, ciência de dados e inteligência artificial.
                    </p>
                </div>
            </div>
            
            <div class="row mt-4 align-items-center">
                <div class="col-md-4">
                    <img class="img-fluid shadow" src="../static/img/Foto_sobre.jpeg" alt="Foto-sobre" data-anime="left">
                </div>
        
                <div class="col-md-8" data-anime="right">
                    <h3>Analista de Geoprocessamento | Desenvolvedor</h3>
                    <p>
                        Ao longo da minha atuação na equipe de Geoprocessamento, implementei diversas inovações e melhorias que impactaram diretamente a eficiência dos processos e a qualidade das análises. Entre as principais contribuições, estão:
                    </p>
                    <ul>
                        <li>Implementação de uma ferramenta de Machine Learning para identificar ervas daninhas em ortomosaicos.</li>
                        <li>Desenvolvimento de sites para facilitar o acesso e visualização de dados.</li>
                        <li>Criação de um aplicativo para controle de tempo dos processos da equipe.</li>
                        <li>Automação de relatórios para otimizar a produção de informações.</li>
                        <li>Desenvolvimento de um aplicativo para controle de produção.</li>
                        <li>Implementação de uma plataforma de dashboards para análise da produção da equipe.</li>
                        <li>Desenvolvimento de ferramentas para análise e correção de dados geoespaciais.</li>
                        <li>Criação de uma ferramenta para identificação de obstáculos em ortomosaicos.</li>
                    </ul>
                </div>
            </div>
        
            <div class="row mt-5 mb-5">
                <div class="col-md-6">
                    <ul class="list-group list-group-flush fs-6">
                        <li class="list-group-item">
                            Nascimento: <span class="fw-lighter">25 de Setembro de 2003</span>
                        </li>
                        <li class="list-group-item">
                            Idade: <span class="fw-lighter">21 anos</span>
                        </li>
                        <li class="list-group-item">
                            Cidade: <span class="fw-lighter">São Carlos</span>
                        </li>
                        <li class="list-group-item">
                            Estado: <span class="fw-lighter">São Paulo</span>
                        </li>
                    </ul>
                </div>
        
                <div class="col-md-6">
                    <ul class="list-group list-group-flush fs-6">
                        <li class="list-group-item">
                            Hobby: <span class="fw-lighter">Boxe </span>
                        </li>
                        <li class="list-group-item">
                            Formação: <span class="fw-lighter">Engenharia de Software 5° Período</span>
                        </li>
                        <li class="list-group-item">
                            Trabalho: <span class="fw-lighter">Xmobots</span>
                        </li>
                        <li class="list-group-item">
                            Experiência: <span class="fw-lighter">+3 anos</span>
                        </li>
                    </ul>
                </div>
            </div>
        </section>

        <section class="mt-5 section-bg" id="habilidades">

            <div class="container pb-5">
                <h2 class="pt-5">Habilidades</h2>
                <p>Abaixo algumas habilidades técnicas e não técnicas, acompanhadas da minha percepção aproximada sobre o nível de conhecimento que possuo em relação a cada uma delas. É importante ressaltar que todas as habilidades estão em constante desenvolvimento.</p>

                <div class="row">
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">Análise de Dados</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" data-anime="left" style="width: 80%">80%</div>
                        </div>
                        <p class="mt-3 mb-0">Python</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" data-anime="left" style="width: 85%">90%</div>
                        </div>
                        <p class="mt-3 mb-0">SQL</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" data-anime="left" style="width: 70%">70%</div>
                        </div>
                        <p class="mt-3 mb-0">Machine Learning</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" data-anime="left" style="width: 75%">75%</div>
                        </div>
                        <p class="mt-3 mb-0">Pandas</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" data-anime="left" style="width: 75%">75%</div>
                        </div>
                        <p class="mt-3 mb-0">Excel</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" data-anime="left" style="width: 80%">80%</div>
                        </div>
                        <p class="mt-3 mb-0">Visualização de Dados</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" data-anime="left" style="width: 70%">70%</div>
                        </div>

                    </div>

                    <div class="col-md-6">
                        <p class="mt-3 mb-0">Geoprocessamento</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" data-anime="left" style="width: 75%">75%</div>
                        </div>
                        <p class="mt-3 mb-0">Análise de Dados Geoespaciais</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" data-anime="left"  style="width: 80%">80%</div>
                        </div>
                        <p class="mt-3 mb-0">Desenvolvimento Web</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" data-anime="left"  style="width: 70%">70%</div>
                        </div>
                        <p class="mt-3 mb-0">HTML</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" data-anime="left" style="width: 65%">65%</div>
                        </div>
                        <p class="mt-3 mb-0">CSS</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" data-anime="left" style="width: 65%">65%</div>
                        </div>
                        <p class="mt-3 mb-0">JavaScript</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" data-anime="left" style="width: 70%">70%</div>
                        </div>
                        <p class="mt-3 mb-0">Flask</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" data-anime="left" style="width: 70%">70%</div>
                        </div>

                    </div>


                </div>

                <hr class="w-50 me-auto ms-auto">

                <div class="row">
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">Proatividade</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="90" aria-valuemin="0" >
                            <div class="progress-bar" data-anime="left" style="width: 90%">90%</div>
                        </div>
                        <p class="mt-3 mb-0">Resolução de Problemas</p>
                        <div class="progress" role="progressbar" aria-valuemax="100" aria-label="Example with label" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" data-anime="left" style="width: 85%">85%</div>
                        </div>
                        <p class="mt-3 mb-0">Autodidata</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" data-anime="left" style="width: 95%">95%</div>
                        </div>
                        <p class="mt-3 mb-0">Compromentimento</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" data-anime="left" style="width: 100%">100%</div>
                        </div> 
                    </div>


                    

                    <div class="col-md-6">
                        <p class="mt-3 mb-0">Comunicação</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" data-anime="left" style="width: 85%">85%</div>
                        </div>
                        <p class="mt-3 mb-0">Adaptabilidade</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" data-anime="left" style="width: 90%">90%</div>
                        </div>
                        <p class="mt-3 mb-0">Trabalho em equipe</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" data-anime="left" style="width: 95%">95%</div>
                        </div> 
                        <p class="mt-3 mb-0">Empatia</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="98" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" data-anime="left" style="width: 98%">98%</div>
                        </div> 
                        
                    </div>
                </div>

            </div>



        </section>

        <section class="mt-5 cv" id="curriculo">

            <div class="container pb-5">
                <h2 class="pt-3 pb-4">Currículo</h2>

                <div class="row">
                    <div class="col-md-6">
                        <h3 class="cv-title">Educação</h3>
                        <div class="cv-item" data-anime="up">
                            <h4>Graduação Engenharia de Software</h4>
                            <h5>2023 - 2028</h5>
                            <p><em>Estácio</em></p>
                            <p>No curso Engenharia de Software, aprendemos a desenvolver softwares e programas, bem como a desenhar e testar novos programas, além de treinar a manutenção e revisão deles.</p>
                            
                        </div>

                    </div>


                    <div class="col-md-6">
                        <h3 class="cv-title">Profissional</h3>
                        <div class="cv-item" data-anime="up">
                            <h4>Analista de Geoprocessamento</h4>
                            <h5>2022 - Atual</h5>
                            <p><em>Xmobots</em></p>
                            <p>Responsável por levar melhorias e inovações para a equipe de Geoprocessamento, utilizando programação, desenvolvimento de software e análises de dados.</p>
                        </div>
                    </div>

                </div>


            </div>

        </section>

            
        <section class="mt-5 section-bg" id="portfolio">

              <div class="container pb-5 pt-5" data-anime="left">

                <h2 class="pb-4">Projetos</h2>

                <div id="carouselPortfolio" class="carousel carousel-dark slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselPortfolio" data-bs-slide-to="0" class="active"
                            aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselPortfolio" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                    </div>
                    

                    <div class="carousel-inner">

                        <div class="carousel-item active" data-bs-interval="10000">
                            <div class="row row-cols-1 row-cols-md-3 g-4">

                                <div class="col">
                                    <div class="card" style="height: 500px;">
                                        <img src="../static/img/titanic.webp" class="card-img-top zoom-img"
                                            alt="Portfólio Responsivo">
                                        <div class="card-body">
                                            <h5 class="card-title">Análise Titanic</h5>
                                            <p class="card-text">
                                                Neste projeto, foi realizada uma análise de dados sobre o naufrágio do Titanic, utilizando técnicas de aprendizado de máquina e análise estatística. O objetivo é desenvolver um modelo preciso para prever a sobrevivência dos passageiros.</p>
                                            <div class="d-flex justify-content-center">
                                                <a href="https://github.com/DevTheo25/Titanic_ML"
                                                    target='_blank' class="btn btn-outline-dark me-3"><i
                                                        class="bi bi-github"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card" style="height: 500px;">
                                        <img src="../static/img/fraude.jpeg"
                                            height="230px">
                                        <div class="card-body">
                                            <h5 class="card-title">Análise de Fraude</h5>
                                            <p class="card-text">
                                                Este projeto tem como objetivo principal desenvolver um modelo de machine learning capaz de prever possíveis fraudes em empréstimos financeiros.</p>
                                            <div class="d-flex justify-content-center">
                                                <a href="https://github.com/DevTheo25/Analise-de-Fraude?tab=readme-ov-file"
                                                    target='_blank' class="btn btn-outline-dark me-3"><i
                                                        class="bi bi-github"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="card" style="height: 500px;">
                                        <img src="../static/img/plantas.png"
                                            height="230px">
                                        <div class="card-body">
                                            <h5 class="card-title">Classificação de doenças em plantas com CNNs</h5>
                                            <p class="card-text">
                                                O objetivo principal deste projeto é desenvolver um modelo de rede neural que seja capaz de classificar imagens de folhas em diferentes categorias, como "saudável" ou "infectada por alguma doença".</p>
                                            <div class="d-flex justify-content-center">
                                                <a href="https://github.com/DevTheo25/PlantHealth_AI"
                                                    target='_blank' class="btn btn-outline-dark me-3"><i
                                                        class="bi bi-github"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>


                        <div class="carousel-item" data-bs-interval="10000">
                            <div class="row row-cols-1 row-cols-md-3 g-4">
                                <div class="col">
                                    <div class="card" style="height: 500px;">
                                        <img src="../static/img/portfolio_img.png" class="card-img-top zoom-img"
                                            alt="Portfólio Responsivo">
                                        <div class="card-body">
                                            <h5 class="card-title">Portfólio</h5>
                                            <p class="card-text">Este projeto é um portfólio pessoal desenvolvido com o intuito de apresentar meu trabalho, experiências, habilidades e projetos. Utiliza HTML, CSS, Bootstrap, JavaScript e Python.</p>
                                            <div class="d-flex justify-content-center">
                                                <a href="https://github.com/DevTheo25/Portfolio"
                                                    target='_blank' class="btn btn-outline-dark me-3"><i
                                                        class="bi bi-github"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card" style="height: 500px;">
                                        <img src="../static/img/xpresso_img.png" class="card-img-top zoom-img"
                                            alt="Xpresso">
                                        <div class="card-body">
                                            <h5 class="card-title">Xpresso</h5>
                                            <p class="card-text">Um aplicativo desenvolvido inteiramente em Python para a controle e administração de uma Cafeteria. Utiliza bancos de dados SQL para armazenar e gerenciar informações essenciais do negócio.</p>
                                            <div class="d-flex justify-content-center">
                                                <a href="https://github.com/DevTheo25/App_Xpresso?tab=readme-ov-file"
                                                    target='_blank' class="btn btn-outline-dark me-3"><i
                                                        class="bi bi-github"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="col">
                                    <div class="card" style="height: 500px;">
                                        <img src="../static/img/bills_controls_img.png" class="card-img-top zoom-img"
                                            alt="Xpresso">
                                        <div class="card-body">
                                            <h5 class="card-title">Bills Control</h5>
                                            <p class="card-text">Um aplicativo para gerenciamento de contas, com a possibilidade de salvar informações de cartões. Foi desenvolvido inteiramente em Python, utilizando banco de dados SQL e o framework "Flet".</p>
                                            <div class="d-flex justify-content-center">
                                                <a href="https://github.com/DevTheo25/Bills_control"
                                                    target='_blank' class="btn btn-outline-dark me-3"><i
                                                        class="bi bi-github"></i></a>

                                                <div class="d-flex justify-content-center">
                                                    <a href="https://www.linkedin.com/posts/daniel-silva-b73857214_python-software-aplicativo-activity-7141931273836572672-DQrU?utm_source=share&utm_medium=member_desktop" target='_blank'
                                                        class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>

                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselPortfolio"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselPortfolio"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>



              </div>   

        </section>

        <section class="pt-5 pb-5" id="contato">

            <div class="container mb-5">
                <h2 class="pt-3">Contato</h2>

                <div class="row">

                    <div class="col-md-5">

                        <div class="cardS p-5 shadow border-0 " data-anime="left">

                            <div class="endereco">
                                <h4><i class="bi bi-geo-alt"></i> Localização:</h4>
                                <p>São Carlos, SP</p>
                            </div>

                            <div class="email">
                                <h4><i class="bi bi-envelope"></i> Email:</h4>
                                <p>works.danielsilva@gmail.com</p>
                            </div>

                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3699.774319518716!2d-47.903075623673914!3d-21.981623005465146!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94b8708cbf5ac5db%3A0x1e37e4768bb62a2a!2sR.%20Rio%20Araguaia%20-%20Jardim%20Jockei%20Club%20A%2C%20S%C3%A3o%20Carlos%20-%20SP%2C%2013565-040!5e0!3m2!1spt-BR!2sbr!4v1711302175755!5m2!1spt-BR!2sbr" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="w-100"></iframe>

                        </div>

                    </div>

                    <div class="col-md-7 mt-5 mt-md-0">
                        <div class="cardS p-5 h-100 shadow border-0" data-anime="right">


                            <form class="row g-3" action="https://formspree.io/f/xnqebegk" method="POST">
                                <div class="col-md-6">
                                    <label for="nome" class="form-label">Nome:</label>
                                    <input type="text" class="form-control" id="nome" name='nome'
                                        placeholder='Digite seu nome' required>
                                </div>
                                <div class="col-md-6">
                                    <label for="email" class="form-label">Email:</label>
                                    <input type="email" class="form-control" id="email" name='email'
                                        placeholder='Digite seu email' required>
                                </div>

                                <div class="col-12">
                                    <label for="mensagem" class="form-label">Mensagem:</label>
                                    <textarea type="text" class="form-control" id="mensagem" name='mensagem' rows="10"
                                        placeholder="Digite sua mensagem" required></textarea>
                                </div>


                                <div class="col-12 d-flex justify-content-center mt-4">
                                    <button id='btn-enviar' type="submit" class="btn btn-primary">Enviar
                                        mensagem</button>

                        </div>

                    </div>

                </div>
            </div>


        </section>
        


    </main>


    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/script.js"></script>

    
</body>
</html>